@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.img-style {
  margin: 30px 15px 15px 15px;
  border: 2px solid #ccc;
}
.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
body {
  background: rgb(146, 144, 144) ;
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
  color: rgb(54, 53, 53);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #676969;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #676969;
}

.searchTerm:focus {
  color: #676969;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #676969;
  background: #676969;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
form {
  width: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.error-message {
  color:black;
  margin-top: 50px;
  top: auto;
  text-align: center;
  width: 100%;
  display: none;
}
